Ingestion.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_database":{"type":"string"},"ls_datalake":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Ingestion')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"last_cdc","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"ds_cdc","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"total_results","type":"Script","dependsOn":[{"activity":"last_cdc","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('ls_database')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"SELECT count(*) as total_count FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} WHERE last_updated > '@{if(empty(pipeline().parameters.backdate),activity('last_cdc').output.value[0].cdc_timestamp,pipeline().parameters.backdate)}'","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"IfNewRows","type":"IfCondition","dependsOn":[{"activity":"total_results","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@greater(activity('total_results').output.resultSets[0].rows[0].total_count,0)","type":"Expression"},"ifTrueActivities":[{"name":"Load","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT * FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} WHERE last_updated > '@{if(empty(pipeline().parameters.backdate),activity('last_cdc').output.value[0].cdc_timestamp,pipeline().parameters.backdate)}'","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_database","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ds_parquet","type":"DatasetReference","parameters":{}}]},{"name":"change_cdc","type":"Copy","dependsOn":[{"activity":"maxCDC","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","additionalColumns":[{"name":"cdc_timestamp","value":{"value":"@activity('maxCDC').output.resultSets[0].rows[0].cdc_timestamp","type":"Expression"}}],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"ds_emptyjson","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ds_cdc","type":"DatasetReference","parameters":{}}]},{"name":"maxCDC","type":"Script","dependsOn":[{"activity":"Load","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('ls_database')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"@concat(\n  'SELECT MAX(last_updated) as cdc_timestamp FROM ',\n  pipeline().parameters.schema,\n  '.',\n  pipeline().parameters.table\n)\n","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"schema":{"type":"string","defaultValue":"source"},"table":{"type":"string","defaultValue":"Orders"},"backdate":{"type":"string","defaultValue":"2025-09-24"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_cdc')]","[concat(variables('factoryId'), '/datasets/ds_database')]","[concat(variables('factoryId'), '/datasets/ds_parquet')]","[concat(variables('factoryId'), '/datasets/ds_emptyjson')]"]},{"name":"[concat(parameters('factoryName'), '/ds_cdc')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_datalake')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"cdc.json","folderPath":"monitor","fileSystem":"source"}},"schema":{"type":"object","properties":{"cdc_timestamp":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_database')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_database')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_parquet')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_datalake')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"Orders","fileSystem":"sink"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_emptyjson')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_datalake')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"empty.json","folderPath":"monitor","fileSystem":"source"}},"schema":{"type":"object","properties":{}}},"dependsOn":[]}]}